[mysqld]
server-id=2
log-bin=mysql-bin
binlog_format=ROW
gtid-mode=ON
enforce-gtid-consistency=ON
log_replica_updates=ON
auto-increment-increment=2
auto-increment-offset=2
relay-log=relay-bin
replica-parallel-workers=4
replica-preserve-commit-order=ON
report-host=mysql-master2
